.next {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 60px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.loading {
    position: relative;
    top: 35%;
    left: 45%;
}

