<div>
    <app-header></app-header>
  </div>
  <div *ngIf="timer">
  <div class="col text-right mr-4">
    <button class="btn btn-success rounded-circle next" routerLink="/booksearch">
      <span title="Click here to add books to shelf" class="material-icons">book</span>
    </button>
  </div>
  <div class="container mt-4">
    <div id="currently-reading" cdkDropList #todo="cdkDropList" [cdkDropListData]="currentlyReadingBooks"
      [cdkDropListConnectedTo]="[inprogress, done]" (cdkDropListDropped)="drop($event)">
      <div class="row mx-auto mt-4">
        <div class="col-md-12 card-header">
          <h2 class="text-center">Currently Reading</h2>
          <hr>
          <div *ngIf="currentlyReadingBooks?.length; else noCurrReadingBooks" class="row">
            <div class="col-md-4" *ngFor="let book of currentlyReadingBooks" cdkDrag [cdkDragData]="book">
              <div class="card mb-3 border border-success" style="max-width: 350px;">
                <div class="row g-0">
                  <div class="col-md-6">
                    <img [src]="book.url" alt="book-image" class="img-fluid card-img"
                      style="width: 100%; height: 200px; object-fit: cover;">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h3 class="card-title">{{book.title}}</h3>
                      <p class="card-text">Authors: {{book.author}}</p>
                      <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Move to
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class="dropdown-item" (click)="traverseBook('currently-reading','want-to-read', book.id)">Want
                            to
                            Read</li>
                          <li class="dropdown-item" (click)="traverseBook('currently-reading','read-done', book.id)">Read Done
                          </li>
                          <li class="dropdown-item" (click)="removefromShelf('currently-reading', book.id)">None</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noCurrReadingBooks>
            <p class="text-center">No books in the currently-reading list.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-4">
    <div id="want-to-read" cdkDropList #inprogress="cdkDropList" [cdkDropListData]="wantToReadBooks"
      [cdkDropListConnectedTo]="[todo, done]" (cdkDropListDropped)="drop($event)">
      <div class="row mx-auto mt-4" id="want-to-read">
        <div class="col-md-12 card-header">
          <h2 class="text-center">Want-To-Read</h2>
          <hr>
          <div *ngIf="wantToReadBooks?.length; else nowantToReadBooks" class="row">
            <div class="col-md-4" *ngFor="let book of wantToReadBooks" cdkDrag [cdkDragData]="book">
              <div class="card mb-3 border border-success" style="max-width: 350px;">
                <div class="row g-0">
                  <div class="col-md-6">
                    <img [src]="book.url" alt="book-image" class="img-fluid card-img"
                      style="width: 100%; height: 200px; object-fit: cover;">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h3 class="card-title">{{book.title}}</h3>
                      <p class="card-text">Authors: {{book.author}}</p>
                      <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Move to 
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class="dropdown-item" (click)="traverseBook('want-to-read','currently-reading',  book.id)">
                            Currently-Reading
                          </li>
                          <li class="dropdown-item" (click)="traverseBook('want-to-read', 'read-done',book.id)">Read Done
                          </li>
                          <li class="dropdown-item" (click)="removefromShelf('want-to-read', book.id)">None</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #nowantToReadBooks>
            <p class="text-center">No books in the want-to-read list.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-4">
    <div id="read-done" cdkDropList #done="cdkDropList" [cdkDropListData]="readBooks"
      [cdkDropListConnectedTo]="[inprogress, todo]" (cdkDropListDropped)="drop($event)">
      <div class="row mx-auto mt-4" id="read-done">
        <div class="col-md-12 card-header">
          <h2 class="text-center">Read Done</h2>
          <hr>
          <div *ngIf="readBooks?.length; else noreadBooks" class="row">
            <div class="col-md-4" *ngFor="let book of readBooks" cdkDrag [cdkDragData]="book">
              <div class="card mb-3 border border-success" style="max-width: 350px;">
                <div class="row g-0">
                  <div class="col-md-6">
                    <img [src]="book.url" alt="book-image" class="img-fluid card-img"
                      style="width: 100%; height: 200px; object-fit: cover;">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h3 class="card-title">{{book.title}}</h3>
                      <p class="card-text">Authors: {{book.author}}</p>
                      <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                         Move to
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class="dropdown-item" (click)="traverseBook('read-done', 'want-to-read', book.id)">Want to
                            Read </li>
                          <li class="dropdown-item" (click)="traverseBook('read-done', 'currently-reading', book.id)">
                            Currently-Reading
  
                          </li>
                          <li class="dropdown-item" (click)="removefromShelf('read-done', book.id)">None</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noreadBooks>
            <p class="text-center">No books in the read-done list.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="loading" *ngIf="!timer">
    <mat-spinner></mat-spinner>
  </div> 
  
  
  